{% extends 'app/base.html' %} <!-- Extende o template base.html localizado na pasta app -->

{% block title %}Página Inicial{% endblock %} <!-- Define o título da página para "Página Inicial", substituindo o bloco 'title' do template base -->

{% block content %} <!-- Início do bloco 'content' que será inserido na posição correspondente do template base -->
    <h2>Esta é a página inicial do meu blog!</h2> <!-- Cabeçalho da página -->
    <p>Explore as postagens e divirta-se.</p> <!-- Parágrafo com uma mensagem de boas-vindas -->
{% endblock %} <!-- Fim do bloco 'content' -->
